#navbar{
    background-color: #4B4F58;
    font: roboto;
    color: white;
    display: block;

}
#cmrm{
    color: #FF6600;
}
#instructions{
    font: roboto;
    color: white;
}
#view{
    font: roboto;
    color: white;
}