* {
    overflow: hidden;
}


body {
    margin : 0;
    padding : 0;
    width : 100%;
    height : 100vh;
    overflow: auto;
}

.widget {
    width : 100%;
    height : 2.89rem;
    background-color: #073b5e;
    display : flex;
    align-items: center;
    padding-left: 2rem;
    flex-wrap: wrap;
    overflow-x: auto;
}

.widget p,a {
    color : white;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.widget p span {
    color : #f60;
    font-weight: 600;
}

.widget a {
    font-weight: 600;
    margin-left: 0.5rem;
}

.section {
    width : 100%;
    height : 9.45rem;
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    display : flex;
    flex-direction: column;
    height : 100%;
    justify-content: space-evenly;
    margin-left: 1.75rem;
}


.buttons button {
    width : fit-content;
    height : 2.45rem;   
    border-radius: 2rem;
    padding : 0.75rem 1.5rem;
    background-color: #f60;
    color : #fff;
    font-weight: 600;
    font-size: 0.9375rem;
    border: none;
    font-family: "Roboto", sans-serif;
}
.logo {
    height: 7.13rem;
    width: 44rem;
}
.ranks{
    height: 6.911rem;
    width: 34.55rem;
}

nav {
    display : flex;
    flex-wrap: wrap;
    width : 100%;
    height : 5.25rem;
    background-color: #073b5e;
    padding : 0.25rem 0.75rem;
}

nav a {
    padding : 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.cmritimage{
    width: 100%;
    height: 31.25rem;
}

.stats{
    height: 12.125rem;
    width: 100%;
    background-color:#f5f5f5;
    display : flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.stats div{
    width: 16.5625rem;
    height: 9.625rem;
    background-color: #f5f5f5;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats h3{
    color: #f60;
    font-size: 1.5625rem;
    width: 16.5625rem;
    height: 1.875rem;
    font-family: "Open Sans", sans-serif;
    margin : 0;
    text-align: center;
    font-weight: 600;
}
.stats p{
    color: #7a7a7a;
    font-size: 0.9375rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    margin : 0;
}
.stats img{
    width: 6.25rem;
    height: 6.25rem;
}
.about{
    width: 100vw;
    height: 20rem;
    background-color: #feffef;
    display: flex;
    padding : 2.5rem 0.5rem;
}
.about img{
    width:46.225rem;
    height: 18.80rem;
    border-radius: 1rem;
}
.content h1{
    font-family: "Titillium Web", sans-serif;
    color: #013b63;
    font-size: 2.5rem;
}
.content{
    width:46.225rem;
    height: 22.6381rem;
    padding: 1rem;
}
.content p{
    color: #020101;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.bottom{
    background-color: #f5f5f5;
}
.clgrankings{
    display: flex;

}
.clgrankings div{
    width: 13.563125rem;
    height: 20.795625rem;
    padding: 0.625rem;
    text-align: center;
}
.clgrankings img{
    align-items: center;
    padding-top: 2rem;
}
.clgrankings p{
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    color: #5e5d5d;
    padding-bottom: 2rem;
}
.nirf{
    padding-top: 8rem;
}
.clgrankings button{
    width : fit-content;
    height : 2.45rem;   
    border-radius: 0.25rem;
    padding : 0.75rem 1.5rem;
    background-color:#61ce70;
    color : #fff;
    font-weight: 500;
    font-size: 0.9375rem;
    border: none;
    font-family: "Roboto", sans-serif;
}
.pg{
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #013b63;
    margin: 0%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.pgdiv{
    width: 100vw;
    background-color: #f5f5f5;
}
.pgcourses{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
}
.pgcourses div{
    width: 26rem;
    height: 30.399375rem;
    padding-left: 0.5rem;
    padding: 2rem;
    background-color: #f5f5f5;
    text-align: center;
    border: #020101;
    box-shadow: 1px 5px 1rem #a2a2a2;
}

.pgcourses div:hover {
    box-shadow: 1px 5px 2rem #a2a2a2;
}

.pgcourses img{
    padding-left: 0.5rem;
    height: 15.625rem;
}
.mba{
    width: 26rem;
    padding-left: 0rem;
}
.pgcourses h4{
    font-size: 1.25rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pgcourses h4,h3{
  padding-bottom: 1.428571428571429rem;
}
.pgcourses p{
    color: #7a7a7a;
}
.pgcourses h3{
    padding-top: 0.5rem;
    color: #3a3a3a;
    font-size: 1.5625rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pgcourses button{
    width: 30rem;
    height: 2.5rem;
    background-color: #f60;
    border: none;
    color: #fff;
    position: relative;
    left : -2rem;
}
.pgcourses button:hover{
    opacity: 0.7;
}
.pgcourses span{
    padding-left: 10rem;
    padding-right: 12rem;
}
.ug{
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #013b63;
    margin: 0%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.ugcourses1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 27.75rem;
    width: 70%;
    margin-left: 12rem;
}
.ugcourses1 div{
    width: 35.625rem;
    height: 27.75rem;
    padding: 0.625rem;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.ugcourses1 img{
    width: 25rem;
    height: 15.625rem;
}
.ugcourses1 h4{
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ugcourses1 p{
    color: #7a7a7a;
}
.ugcourses1 h3{
    padding-top: 1rem;
    margin: 0;
    color: #3a3a3a;
    font-size: 1.5625rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mid{
    background-color:#f5f5f5;
}
.ugcourses2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 27.75rem;
    width: 70%;
    margin-left: 12rem;
    padding-top: 2rem;
}
.ugcourses2 div{
    width: 35.625rem;
    height: 27.75rem;
    padding: 0.625rem;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.ugcourses2 img{
    width: 25rem;
    height: 15.625rem;
}
.ugcourses2 h4{
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ugcourses2 p{
    color: #7a7a7a;
}
.ugcourses2 h3{
    color: #3a3a3a;
    margin: 0;
    font-size: 1.5625rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.recruterscmrit{
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #013b63;
    margin: 0;
}
.recruters{
    width: 100vw;
    background-color: #f5f5f5;
    padding-bottom: 1rem;
}
.companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2rem;
}
.virtualtour{
    width: 100vw;
    height: 22.3359375rem;
    display: flex;
    padding-left: 11rem;
    background-color: #e7f5ff;
}
.virtualtour div{
    width: 35.625rem;
    height: 22.3359375rem;
}
.video{
    padding-top: 2rem;
}
.virtualtour h1{
    color: #2d2e2f;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding-left: 9rem;
    padding-top: 0.75rem;
    font-weight: 620;
}

.contactdetails{
    background-color: #073b5e;
    width: 100%;
    height: 16.9375rem;
    padding-top: 2.5rem;
    padding-bottom: 0.9375rem;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.contactdetails h4 {
    margin : 0;
}

.phone {
    height : 15.68rem;
    width : 15.68rem;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.phone a i {
    margin-right: 1rem;
}

.contactdetails div {
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    padding : 0.625rem;
}



.contactdetails a {
    margin-top: 1rem;
}
.information{
    color: white;
    font-size: 1.25rem;
    height : 15.68rem;
    width : 10.933rem;
}
.login{
    color: white;
    font-size: 1.25rem;
    height : 15.68rem;
    width : 11.06rem;
}
.contact{
    color: white;
    font-size: 1.25rem;
    height : 15.68rem;
    width : 11.45rem;
}
.socialmedia{
    color: #f60;
    font-size: 1.25rem;
    height : 15.68rem;
    width : 15.66rem;

}

.socialmedia a {
    display : flex;
    align-items: center;
}

.socialmedia i {
    font-size: 2.1875rem;
    color : #f60;
}

.socialmedia span {
    width : 2.734rem;
    height : 2.1875rem;
    margin-right : 0.5rem;
}

.copyright {
    height : 3.165rem;
    width : 100%;
    padding : 0.625rem 0;
    background-color: #12374f;
    display: flex;
    align-items: flex-end;
}

.copyright span {
    height : 1.5rem;
    font-size: 1.125rem;
    color : #fff;
    margin-left : 12rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.copyright a {
    font-size: 1.125rem;
    color : #f60;
}
.map{
    width: 100%;
    height: 18.75rem;
    background: url("./asserts/map.png");
}

.map a{
    width : 9rem;
    height : 1.93rem;
    color : #1a73e8;
    background-color: #fff;
    padding : 0.0625rem;
    margin : 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map a:hover {
    text-decoration: underline;
}

/******************************************************Responsivness*************************************************/

@media (max-width : 1440px) {
    .section {
        height : 14rem;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        height : 3rem;
        width : 27rem;
        flex-direction: row;
        justify-content: space-evenly;
        margin : 0;
    }
}

@media (max-width : 1000px) {
    .section {
        height : 18rem;
    }
}

@media (max-width : 830px) {
    .widget {
        height : 5rem;
        align-items : center ;
    }

    .widget p,a {
        margin : 0;
    }
}

@media (max-width : 700px) {
    .section .logo {
        transform: scale(0.7);
    }

    .section .ranks {
        transform : scale(0.75);
    }
}